<?xml version="1.0" encoding="UTF-8"?>

<config>
    <database>
        <driver>org.postgresql.Driver</driver>
        <url>jdbc:postgresql://localhost:5432/stocktotal</url>
        <username>stocktotal</username>
        <password>stocktotal</password>
    </database>
    <report>
        <designFile>StocktotalReport.jrxml</designFile>
        <destFilePathTemplate>../../report/StocktotalReport-%s.%s</destFilePathTemplate>
    </report>
</config>