/dataset/
/db/sqlite/
/db/postgres/query/
/db/postgres/init.sql
/db/postgres/schema.sql
/db/postgres/*.backup
/report/build/
/report/core/.settings/
/report/core/config/StocktotalReport.jasper
/report/core/lib/
/report/core/.classpath
/report/core/.project
/report/logfile/
/report/report/
/source/core/__pycache__/
/source/core/base/__pycache__/
/source/core/db/__pycache__/
/source/core/db/insertion/__pycache__/
/source/core/db/insertion/sqlite/
/source/core/db/insertion/postgres/__pycache__/
/source/core/db/query/__pycache__/
/source/core/db/query/sqlite/
/source/core/db/query/postgres/__pycache__/
/source/core/source/__pycache__/
/source/core/thirdparty/
/thirdparty/
/tools/pdfbox/
